AUTH_SECRET=
DATABASE_URL=postgresql://neondb_owner:npg_laONC9mGWqk4@ep-lively-meadow-azt9g7ny-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MASTER_DEVELOPER_ID=
MASTER_DEVELOPER_PASSWORD_HASH=
MASTER_DEVELOPER_SESSION_SECRET=
NEXT_PUBLIC_APP_URL=
